<form class="container" ng-submit="shadertoy.goToURL(url)">
	<h2>Open shader</h2>
	<div class="form-group row">
		<label class="col-3 col-form-label" for="url">URL</label>
		<div class="col-9">
			<input type="url" class="form-control" id="url" ng-model="url" required>
		</div>
	</div>
	<div class="form-group row">
		<button type="submit" class="col-12 btn btn-primary" ng-disabled="!shadertoy.isValidURL(url)">Open shader</button>
		<button type="button" class="col-12 btn btn-default" ng-click="shadertoy.goToHomepage()">Open homepage</button>
	</div>
</form>
